@using PagedList.Mvc
@model PagedList.IPagedList<NauAnUtLanh.Database.Contact>
@{
    ViewBag.Title = "Danh sách mail liên hệ";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="col-md-12">
    @foreach (var mail in Model)
    {
        if (!mail.Read)
        {
            <div class="row">
                <a href="@Url.Action("details", new {id = mail.Id})">
                    <div class="text-primary" style="font-weight: bold">
                        <div class="col-md-5">@mail.FullName</div>
                        <div class="col-md-5">@mail.Subject</div>
                        <div class="col-md-2">@($"{mail.CreatedTime:dd/MM/yyyy HH:mm:ss}")</div>
                    </div>
                </a>
                <hr/>
            </div>
        }
        else
        {
            <div class="row">
                <a href="@Url.Action("details", new {id = mail.Id})">
                    <div class="text-muted">
                        <div class="col-md-5">@mail.FullName</div>
                        <div class="col-md-5">@mail.Subject</div>
                        <div class="col-md-2">@($"{mail.CreatedTime:dd/MM/yyyy HH:mm:ss}")</div>
                    </div>
                </a>
                <hr/>
            </div>
        }
    }
</div>

@Html.PagedListPager(Model, page => Url.Action("index", new { page }))