@using NauAnUtLanh.Database
@model NauAnUtLanh.Dashboard.Models.FoodMenuViewModel

@{
    ViewBag.Title = "Danh sách thực đơn";
    var foodIdList = new List<string>();
    if (!string.IsNullOrEmpty(Model.FoodIdList))
    {
        foodIdList = Model.FoodIdList.Split(';').ToList();
    }
    var db = new NauAnUtLanhDbContext();
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            <strong class="text-uppercase text-success">@Model.MenuName</strong>
        </h2>
    </div>
    <div class="panel-body">
        <div class="col-md-4">
            <img src="@Url.Content($"~/upload/foodmenu/{Model.Avatar}")" class="img-responsive" alt="@Model.MenuName"/>
        </div>
        <div class="col-md-8">
            <br/>
            @{
                if (foodIdList.Any())
                {
                    foreach (var id in foodIdList)
                    {
                        var foodId = Guid.Parse(id);
                        var food = db.Foods.Find(foodId);
                        if (food != null)
                        {
                            <p class="text-muted">
                                <i>@food.FoodType</i>
                            </p>
                            <p class="text-uppercase">
                                <strong>@food.FoodName</strong>
                            </p>
                            <br/>
                        }
                    }
                }
            }
        </div>
    </div>
    <div class="panel-footer">
        <h3>
            <strong class="text-danger">@($"Giá thực đơn: {Model.Price:0,0}")</strong>
        </h3>
    </div>
</div>
<hr/>
@Html.ActionLink("Thay đổi", "edit", new { id = Model.Id}) |
@Html.ActionLink("Trở về", "index")

