@using NauAnUtLanh.Database
@using PagedList.Mvc
@model PagedList.IPagedList<FoodMenu>
@{
    ViewBag.Title = "Thực đơn";
    var db = new NauAnUtLanhDbContext();
    var info = db.DefaultInfos.Find(Guid.Empty);
    ViewBag.MetaTitle = info?.CompanyName;
    ViewBag.MetaDescription = info?.MetaDescription;
    ViewBag.MetaKeywords = info?.MetaKeywords;
    ViewBag.MetaImage = info?.MetaImage;
}

<div class="menu-page">
    <div class="container">
        <div class="menu-title">
            <h3>Thực đơn</h3>
        </div>
        @{
            foreach (var menu in Model)
            {
                <div class="row">
                    <div class="title cnt-title">
                        <h3>@menu.MenuName</h3>
                    </div>
                    <div class="col-md-6">
                        <img src="@Url.Content($"~/upload/foodmenu/{menu.Avatar}")" class="img-responsive" alt="@menu.MenuName"/>
                    </div>
                    <div class="col-md-6">
                        @{
                            if (!string.IsNullOrEmpty(menu.FoodIdList))
                            {
                                var foodIdList = menu.FoodIdList.Split(';').ToList();
                                foreach (var id in foodIdList)
                                {
                                    var foodId = Guid.Parse(id);
                                    var food = db.Foods.Find(foodId);
                                    if (food != null)
                                    {
                                        <p class="text-muted">
                                            <i>@food.FoodType</i>
                                        </p>
                                        <p class="text-uppercase">
                                            <strong>@food.FoodName</strong>
                                        </p>
                                        <br/>
                                    }
                                }
                            }
                        }
                        <h2 class="text-primary"><strong>@($"Giá: {menu.Price:0,0}")</strong></h2>
                    </div>
                </div>
                <hr/>
                <div class="clearfix"></div>
            }
        }
        @Html.PagedListPager(Model, page => Url.Action("index", new { page }))
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}