@model NauAnUtLanh.Database.Article

@{
    ViewBag.Title = Model.ArticleTitle;
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <h2 class="text-primary text-uppercase">@Model.ArticleTitle</h2>
    <p class="pull-right">@($"{Model.CreatedTime:dd/MM/yyyy HH:mm:ss}")</p>
    <div class="clearfix"></div>
    <hr/>
    <p class="text-justify">@Html.Raw(WebUtility.HtmlDecode(Model.ArticleContent))</p>
    <hr/>
    <p>Mô tả tóm tắt: <span class="text-info">@Model.ShortDescription</span></p>
    <p>Từ khóa: <span class="text-info">@Model.Keywords</span></p>
</div>

<hr/>
@Html.ActionLink("Trở về", "index") 