@using PagedList.Mvc;
@model PagedList.IPagedList<NauAnUtLanh.Database.Article>

@{
    ViewBag.Title = "Danh sách bài viết";
}

<h2>@ViewBag.Title</h2>
<hr/>
@using (@Html.BeginForm("index", "article"))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                @Html.ActionLink("Viết bài mới", "create")
            </div>
            <div class="col-md-2">
                @Html.TextBox("keyword", "", new {@class = "form-control", @placeholder = "Từ khóa"})
            </div>
            <div class="col-md-2">
                <input type="submit" value="Tìm kiếm" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}
<table class="table table-hover">
    <tr>
        <th>Tiêu đề</th>
        <th>Hình ảnh</th>
        <th>Ngày viết</th>
        <th>Hiển thị</th>
        <th>Tin quan trọng</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleTitle)
            </td>
            <td>
                @{
                    if (string.IsNullOrEmpty(item.ArticleAvatar))
                    {
                        <img src="@Url.Content("~/images/photo-icon.png")" class="img-responsive product-icon" alt=""/>
                    }
                    else
                    {
                        <img src="@Url.Content($"~/upload/article/{item.ArticleAvatar}")" class="img-responsive product-icon" alt="" />
                    }
                }
            </td>
            <td>
                @($"{item.CreatedTime:dd/MM/yyyy HH:mm:ss}")
            </td>
            <td>
                @{
                    if (item.Activated)
                    {
                        <a href="#" onclick="return changeStatus('@item.Id')">
                            <img src="@Url.Content("~/images/activated-icon.png")" class="menu-icon" alt="Đang hiển thị" title="Đang hiển thị"/>
                        </a>

                    }
                    else
                    {
                        <a href="#" onclick="return changeStatus('@item.Id')">
                            <img src="@Url.Content("~/images/inactive-icon.png")" class="menu-icon" alt="Tạm ẩn" title="Tạm ẩn" />
                        </a>
                    }
                }
            </td>
            <td>
                @{
                    if (item.Hot)
                    {
                        <a href="#" onclick="return changeHot('@item.Id')">
                            <img src="@Url.Content("~/images/show-home-icon.png")" class="menu-icon" alt="Hiển thị trên trang chủ" title="Hiển thị trên trang chủ" />
                        </a>

                    }
                    else
                    {
                        <a href="#" onclick="return changeHot('@item.Id')">
                            <img src="@Url.Content("~/images/not-show-home-icon.png")" class="menu-icon" alt="Không hiển thị trên trang chủ" title="Không hiển thị trên trang chủ" />
                        </a>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "details", new { id = item.Id }) |
                @Html.ActionLink("Hiệu chỉnh", "edit", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "delete", new { id = item.Id }, new { onclick = "return confirm('Có chắc chắn muốn xóa bài viết?')" })
            </td>
        </tr>
                    }

</table>

@($"Tổng số: {ViewData["total"]:0,0}")

@Html.PagedListPager(Model, page => Url.Action("index", new {page}))

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function changeStatus(id) {
            $.ajax({
                url: '@Url.Action("changestatus")',
                data: { id: id },
                error: function () {
                    alert('Can not retrieve data');
                },
                dataType: 'text',
                success: function () {
                    location.reload();
                },
                type: 'POST'
            });
        }
        function changeHot(id) {
            $.ajax({
                url: '@Url.Action("changehot")',
                data: { id: id },
                error: function () {
                    alert('Can not retrieve data');
                },
                dataType: 'text',
                success: function () {
                    location.reload();
                },
                type: 'POST'
            });
        }
    </script>
}