@model IEnumerable<NauAnUtLanh.Database.Article>

<div class="container">
    <div class="title cnt-title">
        <h3>Tin tức</h3>
    </div>
    <div class="row">
        @{
            foreach (var article in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="news-container">
                        <div class="news-pic">
                            <a href="@Url.Action("details", "news", new {id = article.Id})">
                                <img src="@Url.Content($"~/upload/article/{article.ArticleAvatar}")" alt="@article.ArticleTitle" title="@article.ArticleTitle" class="img-responsive" />
                            </a>
                        </div>
                        <div class="news-content">
                            <p class="news-time">@($"{article.CreatedTime:dd/MM/yyyy hh:mm tt}")</p>
                            <p class="news-title">
                                <a href="@Url.Action("details", "news", new {id = article.Id})">
                                    @article.ArticleTitle
                                </a>
                            </p>
                            <p class="news-desc">@article.ShortDescription</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
        @Html.ActionLink("Xem thêm", "index", "news", new { @id = "loadMore" })
    </div>
</div>

