@using NauAnUtLanh.Database
@using PagedList.Mvc
@model PagedList.IPagedList<Article>

@{
    ViewBag.Title = "Tin tức";
    var db = new NauAnUtLanhDbContext();
    var info = db.DefaultInfos.Find(Guid.Empty);
    ViewBag.MetaTitle = info?.CompanyName;
    ViewBag.MetaDescription = info?.MetaDescription;
    ViewBag.MetaKeywords = info?.MetaKeywords;
    ViewBag.MetaImage = Url.Content($"~/upload/{info?.MetaImage}");
}

<div class="news">
    <div class="container">
        <div class="menu-title">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="news-info">
            @{
                foreach (var article in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="news-container">
                            <div class="news-pic">
                                <a href="@Url.Action("details", "news", new {id = article.Id})">
                                    <img src="@Url.Content($"~/upload/article/{article.ArticleAvatar}")" alt="@article.ArticleTitle" title="@article.ArticleTitle" class="img-responsive" />
                                </a>
                            </div>
                            <div class="news-content">
                                <p class="news-time">@($"{article.CreatedTime:dd/MM/yyyy hh:mm tt}")</p>
                                <p class="news-title">
                                    <a href="@Url.Action("details", "news", new {id = article.Id})">
                                        @article.ArticleTitle
                                    </a>
                                </p>
                                <p class="news-desc">@article.ShortDescription</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-12">
            @Html.PagedListPager(Model, page => Url.Action("index", new { page }))
        </div>
    </div>
</div>
